
.vs/BATED/v16/ipch/AutoPCH/89affd10de103d64/BATED.ipch
.vs/BATED/v16/Browse.VC.opendb
.vs/BATED/v16/Browse.VC.db-wal
.vs/BATED/v16/Browse.VC.db-shm
.vs/BATED/v16/Browse.VC.db
.vs/BATED/v16/.suo
BATED/Debug/BATED.log
BATED/Debug/BATED.obj
.vs/BATED/v16/.suo
.vs/BATED/v16/Browse.VC.db
.vs/BATED/v16/ipch/AutoPCH/89affd10de103d64/BATED.ipch
BATED/Debug/vc142.idb
BATED/Debug/vc142.pdb
Debug/BATED.exe
Debug/BATED.pdb
.vs/BATED/v16/Browse.VC.db
.vs/BATED/v16/.suo
.vs/BATED/v16/Browse.VC.db
*.pdb
.vs/BATED/v16/.suo
.vs/BATED/v16/.suo
BATED/Debug/BATED.ilk
BATED/Debug/BATED.log
BATED/Debug/BATED.obj
BATED/Debug/BATED.tlog/BATED.lastbuildstate
BATED/Debug/BATED.tlog/CL.command.1.tlog
BATED/Debug/BATED.tlog/CL.read.1.tlog
BATED/Debug/BATED.tlog/link.command.1.tlog
BATED/Debug/BATED.tlog/link.read.1.tlog
BATED/Debug/vc142.idb
BATED/Debug/vc142.pdb
Debug/BATED.exe
Debug/BATED.pdb
Debug/BATED.pdb
Debug/BATED.exe
BATED/Debug/vc142.pdb
BATED/Debug/vc142.idb
BATED/Debug/BATED.tlog/link.read.1.tlog
BATED/Debug/BATED.tlog/CL.read.1.tlog
BATED/Debug/BATED.obj
BATED/Debug/BATED.ilk
BATED/Debug/vc142.pdb
BATED/Debug/vc142.idb
.vs/BATED/v16/ipch/AutoPCH/89affd10de103d64/BATED.ipch
x64/Debug/BATED.exe
BATED/x64/Debug/vc142.idb
BATED/x64/Debug/BATED.tlog/link.read.1.tlog
BATED/x64/Debug/BATED.obj
BATED/x64/Debug/BATED.log
BATED/x64/Debug/BATED.ilk
BATED/x64/Debug/bated.obj.enc
